<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <display-name>BackOffice</display-name>

  <servlet>
    <servlet-name>FrontServlet</servlet-name>
    <servlet-class>com.myframework.core.FrontServlet</servlet-class>
    
    <!-- PREMIER paramètre : scan-package -->
    <init-param>
        <param-name>scan-package</param-name>
        <param-value>com.myframework.core,com.spring.BackOffice.controller</param-value>
    </init-param>
    
    <!-- DEUXIÈME paramètre : contextConfigLocation -->
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-context.xml</param-value>
    </init-param>
    
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
    <servlet-name>FrontServlet</servlet-name>
    <url-pattern>/</url-pattern>
</servlet-mapping>

</web-app>
