<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <display-name>BackOffice</display-name>

   <servlet>
    <servlet-name>frontServlet</servlet-name>
    <servlet-class>com.myframework.servlet.FrontServlet</servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
    <servlet-name>frontServlet</servlet-name>
    <url-pattern>/backoffice/*</url-pattern>
</servlet-mapping>

</web-app>
